body{
    background: black;
}


.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#17D4FE;
    font-family:fantasy;
    font-size: 5em;
    letter-spacing: 8px;



}